/* body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: #2b2b2b;
    color: #fff;
}

.header {
    background-color: #1c1c1c;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo a {
    color: #fff;
    text-decoration: none;
}

.logo a:hover {
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: #333;
    border-radius: 3px;
    padding: 5px;
}

.search-bar input {
    padding: 5px;
    border: none;
    border-radius: 3px;
    flex-grow: 1;
    background-color: transparent;
    color: #fff;
}

.search-bar button {
    background: none;
    border: none;
    color: #fff;
    padding: 5px;
    cursor: pointer;
}

.search-bar button i {
    font-size: 18px;
}

.search-bar input:focus {
    outline: none;
}

.video-container {
    margin-top: 20px;
    padding: 15px;
    background-color: #333;
    border-radius: 5px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: auto;
}

.video-container iframe {
    max-width: 100%;
    height: 360px;
    width: 720px;
    border-radius: 5px;
}

.movie-details {
    margin-top: 20px;
    background-color: #333;
    padding: 15px;
    border-radius: 8px;
}

.movie-details h2 {
    color: wheat;
    font-weight: bold;
}

.movie-details p {
    color: white;
    font-size: 1rem;
}

.footer {
    text-align: center;
    padding: 20px;
    background-color: #1c1c1c;
} */